node_modules
build
npm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
Dockerfile
.dockerignore
src.zip
src2
.next
.turbo
.eslintcache
coverage
dist
yarn.lock
